<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
  <h1>My First Bootstrap Page</h1>
  <p id>This part is inside a .container class.</p>
  <p>The .container class provides a responsive fixed width container.</p>
    <form class="input" id="voice-form" method="post" action="/api/call">
                <div class="field">
                    <label for="speech">Type Something</label>
<!--                    <textarea type="text" name="speech" id="speech"  />-->
                    <textarea id="speech"  name="speech" rows="4" cols="50">
At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
</textarea>

                </div>
                <div class="field">
                    <label for="voices">Choose a Voice Assistant</label>
                      <select name="voices" id="voices">
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                      </select>
                </div>
              <button>
                    Say it!
              </button>
          </form>

   <audio id="musicplayer" autoplay>
  <source src="" />
</audio>
</div>
<script>
    (async () => {
  const rawResponse = await fetch('http://127.0.0.1:5000/api/call', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({speech:'hi hello how are you Santhosh'})
  });
  const content = await rawResponse.json();

  const audioTrack = document.getElementById('musicplayer');
  audioTrack.src = '/speech/'+content.name;
  audioTrack.play();
  console.log(content);
})();
</script>
</body>
</html>